asgiref==3.8.1
Django==3.2.25
django-extensions==3.2.3
django-filter==23.5
djangorestframework==3.15.1
graphviz==0.20.3
psycopg2-binary==2.9.9
pydotplus==2.0.2
pyparsing==3.1.2
pytz==2024.1
setuptools==69.5.1
sqlparse==0.5.0
tzdata==2024.1
